/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --theme-color: #429eff;
  --grey: #97aabe;
  --subtle-text: #cccccc;
  --subtle-divider: #8a8a8a;
  --base-background-color: #000710;
  --code-background-color: #011627;
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Inter", sans-serif;
}

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-background-color);
  color: #fff;
  font-family: var(--primary-font-family);
}

p {
  font-size: 18px;
  line-height: 1.4em;
}

a {
  color: white;
  transition: color 0.5s;
}

a:hover {
  color: var(--theme-color);
}
nav a.active {
  color: var(--theme-color);
}

.page-title {
  font-size: 40px;
  margin-bottom: 20px;
}

.app-body {
  padding: 30px 25px;
}

.section-title {
  font-family: var(--secondary-font-family);
  font-size: 0.85em;
  font-weight: 400;
}

.superscript {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 0.8em;
}

.hero-container {
  border-bottom: 1px solid var(--subtle-divider);
  padding-bottom: 50px;
}

.hero-container p {
  font-size: 1em;
}

/* Header styles start */
.header {
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h4 {
  font-family: var(--primary-font-family);
  color: var(--theme-color);
  font-weight: 400;
  font-size: 25px;
}
.title p {
  font-family: var(--primary-font-family);
  color: var(--grey);
  font-weight: 400;
  font-size: 15px;
}
nav {
  margin-top: 20px;
}

.profile img {
  width: 70px;
}
.header li,
.footer li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}

/* Header styles end */

/* Homepage styles start */
.latest-posts {
  margin-bottom: 50px;
}
.latest-posts h2 {
  font-size: 20px;
  font-weight: 700;
}
/* Homepage styles end */

/* Footer styles start */
.footer {
  padding: 20px 30px;
  border-top: 1px solid #444;
  /* position: absolute; */
  /* width: 100%; */
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
}

.site-credit {
  font-size: 0.8em;
}

.footer-links,
.footer-links a {
  font-family: var(--secondary-font-family);
  letter-spacing: 0.05em;
  font-size: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--subtle-text);
  transition: color 1s;
}

/* footer styles end */

/* Post list styles start */

.post-grid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 25px;
  margin-top: 40px;
}

.post-card h2 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
}

.post-card-title {
  text-decoration: none;
  color: var(--theme-color);
}

.post-card-title:hover {
  text-decoration: underline;
}

.post-card p {
  margin-top: 10px;
}

/* Post list styles end */

/* Project Card styles start */

.project-card a {
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

.project-card h2 {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
}

.project-card p {
  margin-bottom: 20px;
}

/* Card styles end */

/* Project styles start */

.project-excerpt {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

/* Blog post page styles start */

.back-btn {
  cursor: pointer;
}

svg {
  width: 50px;
  transition: transform 1s;
}

svg:hover {
  width: 50px;
  stroke: var(--theme-color);
  transform: scale(1.1);
}

.category-box {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.category {
  list-style-type: none;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75em;
  display: inline;
  width: fit-content;
  height: 40px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid white;
  margin-right: 10px;
  margin-bottom: 5px;
  transition: background-color 0.5s;
}

.category:hover {
  background-color: var(--theme-color);
  border: none;
  color: black;
}

/* this is the date style */
.post-date {
  color: var(--subtle-text);
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75em;
  margin-top: 20px;
}

.post-image {
  width: 100%;
  margin-top: 40px;
}

.post-info {
  padding-bottom: 30px;
}

.blog-post {
  margin-top: 40px;
}

.blog-post h1,
.post-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post p,
ol,
ul,
code {
  margin-bottom: 20px;
}

.blog-post li {
  line-height: 1.3em;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.blog-post img {
  width: 100%;
}

figcaption {
  color: var(--subtle-text);
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}

.blog-post blockquote {
  background-color: var(--code-background-color);
  font-style: italic;
  margin: 1.5em 0;
  padding: 30px 30px 20px 30px;
  border-left: 4px solid var(--theme-color);
}

.code-tag {
  background-color: var(--code-background-color);
  margin-top: 20px;
  padding: 15px 20px;
  width: fit-content;
  margin-bottom: -8px;
}

/* Blog post styles end */

.post-list {
  margin-top: 30px;
}

/* Snippet styles start */
.snippet-grid,
.project-list {
  display: grid;
  grid-template-columns: auto;
  margin-top: 40px;
  gap: 20px;
}

.snippet-card,
.project-card {
  /* padding-bottom: 15px; */
  border-radius: 10px;
  border: 1px solid #757373;
  background: #080812;
  padding: 20px;
  transition: box-shadow 1s, transform 0.7s;
}

.snippet-card:hover,
.project-card:hover {
  border-radius: 10px;
  border: 1px solid #757373;
  background: #080812;
  transform: scale(1.02);
  box-shadow: 0px 0px 80px -10px rgba(92, 92, 92, 0.35) inset;
}

/* .snippet-card h2 {
  margin-top: 30px;
} */

.snippet-description {
  margin-top: 10px;
  font-size: 16px;
}

.snippet-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Snippet sytles end */
code {
  background-color: var(--code-background-color);
  padding: 2px 4px;
  border-radius: 4px;
}

.post-footer {
  margin-top: 40px;
  color: var(--grey);
  font-size: 14px;
}
.post-footer p {
  font-size: 14px;
  margin-bottom: 10px;
}
.post-footer ul {
  list-style-type: none;
  display: inline;
}
.post-footer li {
  list-style-type: none;
  display: inline;
  margin-right: 1dvb;
  background-color: #c8c5c556;
  padding: 4px 10px;
  border-radius: 10px;
}
.post-footer a {
  text-decoration: none;
  color: var(--theme-color);
  cursor: pointer;
}

/* table styles */
/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

/* Style table header cells */
th {
  background-color: #4d4d4d;
  border: 1px solid #ddd;
  padding: 8px;
}

/* Style table body cells */
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  /* For Desktops */

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 150px; */
  }
  .body {
    max-width: 60%;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .app-body {
    padding: 30px;
  }

  /* .blog-post {
    padding: 0px 150px;
  } */

  .blog-post h1,
  .post-title {
    font-size: 60px;
    /* width: 80%; */
  }

  .blog-post p,
  .blog-post li {
    font-size: 20px;
  }

  /* .post-grid {
    grid-template-columns: auto auto;
    gap: 25px 25px;
  } */

  .snippet-grid,
  .project-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .footer {
    grid-template-columns: 35% 65%;
  }

  .footer li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
  }
}
